<%= render "static_pages/layout" %>

<body>
  <br>
	<h1 class="title" align="center"><%= @carrete.nombre%></h1>
	 
<div class="columns">
  <div class="column">
    <div class='card equal-height'>
      <p id='notice'><%= notice %></p>
        <div class="content has-text-centered" >
            <ol type="1">
            <p class="subtitle is-5">Nombre: <%= @carrete.nombre%></p>
            </ol>
            <ol type="1">
            <p class="subtitle is-5">Dirección: <%= @carrete.direccion%></p>
            </ol>
            <ol type="1">
            <p class="subtitle is-5">Máximo Asistentes: <%= @carrete.max_asistentes%></p>
            </ol>
            <br>
        
    <button class="button"><%= link_to 'Volver al listado',carretes_buscar_url%></button> 
    <button class="button"><%= link_to 'Editar carrete',carrete_edit_path%></button> 
    <button class="button"><%= link_to 'Eliminar carrete', carrete_path, method: :delete %></button> 
    <% if @carrete.abierto == true %>   
      <button class="button"><%= link_to 'Mostrar interes', interes_new_path(@carrete.id) %></button>
    <% end %>
    </div>
    </div>
  </div>
</div>

</body>