<h1>Editar comuna</h1>

<p> <%= notice %> </p>

<%= form_with(model: @comuna, method: :patch, url: comuna_update_path(@comuna.cid)) do |form| %>

    <div class='field'>
        <%=form.label :comuna%>
        <%=form.text_field :comuna%>
    </div>

    <div class='field'>
        <%=form.label :cid%>
        <%=form.text_field :cid%>
    </div>

<%end%>